* {
  margin: 0;
}

.App {
  background: #fafafa;
  
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
 background:white;
 padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;

}

.app-headerImage{
  object-fit: contain;
  width: 150px;
}



.app-signUp{
  display: flex;
  flex-direction: column;

  
}

.app-posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app-postsRight{
  background:lightgray;
  border:1px solid lightgray;
  margin-left: 20px;
  max-width: 320px;
  padding: 10px;
  
}