.Post{
    background: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}


.post-image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post-text{
    font-weight: normal;
    padding: 20px;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post-avatar{
    margin: 10px;
}

.post-commentBox{
    
    display: flex;
    margin-top: 10px;
}

.post-comments{
background: rgb(248, 248, 248);
font-weight: normal;
padding: 20px;
}

.post-input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post-button{
    flex:0;
    border: none;
    background: #5fa7f01e;
    border-top: 1px solid lightgray;
}

.post-likesModal{

    display: flex;
    position: absolute;
    background:rgba(63, 63, 63, 0.472);
    transform: translate(-200px,-700px);
    width: 50vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.post-likesList{
    position: relative;
    display: inline-block;
    background: rgb(255, 255, 255);
    max-height:700px;
    overflow:scroll;
    width: 300px;
    padding: 7px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);


}
.post-likesList>li>span{
    margin:7px;
    
}




